.form {
    flex: 1;
    min-width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.box {
    background-color: var(--card-color);
    padding: .8em;
    margin: .8em;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 75%;
}

.progress-container {
    width: 60%;
    aspect-ratio: 1;
    color: black;
    font-weight: bold;
    
}
.progress-container .CircularProgressbar-path {
    stroke: var(--circleprogress-color);
}
.progress-container .CircularProgressbar-trail {
    stroke: var(--circleprogbg-color);
}

.progress-percent {
    font-size: 2.2em;
}