.map {
    background: #ddd;
    flex: 3;
    position: relative;
}

.dropdown {
    position: absolute;
    top: 2em;
    width: 80%;
    max-width: 35em;
}

.map-container {
    height: 400px;
    width: 800px;
  }
  
